<div class="customerInfo">
  <div [hidden]="submitted">
    <h1>訂購單</h1>
    <div class="progress">
      <div
        class="progress-bar"
        role="progressbar"
        style="width: 33%"
        aria-valuenow="25"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
    </div>
    <form (ngSubmit)="onSubmit()" #customerInfo="ngForm">
      <div class="form-group">
        <label for="name">姓名</label>
        <input
          type="text"
          class="form-control"
          id="name"
          required
          [(ngModel)]="model.name"
          name="name"
          #name="ngModel"
        />
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          姓名欄必填
        </div>
      </div>

      <div class="form-group">
        <label for="phone">電話</label>
        <input
          type="text"
          class="form-control"
          id="phone"
          required
          [(ngModel)]="model.phone"
          name="phone"
          #phone="ngModel"
        />
        <div
          [hidden]="phone.valid || phone.pristine"
          class="alert alert-danger"
        >
          電話必填
        </div>
      </div>

      <div class="form-group">
        <label for="power">區域</label>
        <select
          class="form-control"
          id="city"
          required
          [(ngModel)]="model.city"
          name="city"
          #city="ngModel"
        >
          <option *ngFor="let pow of citys" [value]="pow">{{ pow }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="address">地址</label>
        <input
          type="text"
          class="form-control"
          id="address"
          required
          [(ngModel)]="model.address"
          name="address"
          #address="ngModel"
        />
        <div
          [hidden]="address.valid || address.pristine"
          class="alert alert-danger"
        >
          地址必填
        </div>
      </div>

      <button
        type="submit"
        class="btn btn-success"
        [disabled]="!customerInfo.form.valid"
        (click)="submit(customerInfo)"
      >
        送出
      </button>
      &nbsp;&nbsp;
      <button type="button" class="btn btn-default" (click)="newOrder()">
        重新填寫
      </button>

      <!-- NOT SHOWN IN DOCS -->
      <!-- <div>
        <hr />
        Name via form.controls = {{ showFormControls(customerInfo) }}
      </div> -->
      <!-- - -->
    </form>
  </div>
</div>
