
<div class="cardContext">
    <div class="card" style="width: 18rem;" *ngFor="let item of productDatas; index as i">
      <img src="data:image/jpg;base64,{{ item.imgPath }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="card-title">{{item.name}}</h2>
        <h5 class="card-title">{{item.location}}</h5>
        <p class="card-text">{{item.descript}}</p>
        <div class="d-flex">
          <h4 class="card-title">{{item.price}}</h4>
          <h4 class="card-title">元 / </h4>
          <h4 class="card-title">{{item.unit}}</h4>
        </div>
          <button type="button" class=" button btn-outline-primary" (click)="addCart(item.id,
          item.name,
          item.price,
          item.unit,
          item.imgPath)">加入購物車</button>
      </div>
    </div>
  </div>
  <a [routerLink]="['/checkout']" >CHECKOUT</a>

