/* You can add global styles to this file, and also import other style files */

body {
  background-image: url("./assets/bg.png");
  // background-image: url("https://picsum.photos/1920/1200?random=1");
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  // background-position: center;
  // background-size: cover;
}
#main {
  display: flex;
  flex-direction: column;
}

$main_color: #3f5d45;
$secode_color: #718775;
$third_color: #979d9d;
$text_color: #2d3a3a;
$black: #2d3a3a;
$yellow: #ffc408;
$grey: #979d9d;
$white: #ffffff;
$darkBlue: #1f3547;
$darkGreen: #3f5d45;
$lightGreen: #718775;
$big_text: 32px;
$title: 28px;
$content: 24px;

//RWD 樣式設定
$pc-media: 960px;
$pcs-media: 959px;
$pad-media: 760px;
$pads-media: 759px;
$phone-media: 480px;
$phones-media: 479px;

//電腦
@mixin pc-width() {
  @media all and (min-width: $pc-media) {
    @content;
  }
}
//平板
@mixin pad-width() {
  @media all and (min-width: $pad-media) and (max-width: $pcs-media) {
    @content;
  }
}
//小平板
@mixin small-pad-width() {
  @media all and (min-width: $phone-media) and (max-width: $pads-media) {
    @content;
  }
}
//手機
@mixin phone-width() {
  @media all and (max-width: $phones-media) {
    @content;
  }
}

.linear {
  background: linear-gradient(115deg, #979d9d 50%, transparent 50%) center
      center / 100% 100%,
    #cde2e0 center center / 100% 100%;
}

.shadow {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.6) !important;
}

.header {
  // background-color: #a688f1;
  opacity: 0.6;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  @include phone-width {
    min-height: 10vh;
  }
  svg {
    height: 80px;
    width: 80px;
    @include pad-width {
      height: 70px;
      width: 70px;
    }
    @include small-pad-width {
      height: 70px;
      width: 70px;
    }
    @include phone-width {
      height: 50px;
      width: 50px;
    }
  }

  h1 {
    margin: 20px;
    margin-left: 100px;
    color: $main_color;
    text-shadow: 0 0 5px $secode_color, 0 0 10px $secode_color,
      0 0 20px $secode_color, 0 0 40px $secode_color;
    animation: neon-shine 2s linear infinite;
  }

  ul {
    display: flex;
    margin: 10px;
    li {
      list-style: none;
      padding: 20px;
      a {
        text-decoration: none;
        font-size: $title;
        line-height: 30px;
        color: $main_color;
        &:hover {
          color: $secode_color;
          transition: 0.3s;
        }
      }
      img {
        width: 24px;
        height: 24px;
      }
    }
  }
}

.cardContext {
  margin-top: 50px;
  margin: 15px auto;
  width: 900px;
  column-count: 3;
  column-width: 280px;
  column-gap: 20px;

  .card {
    margin-bottom: 10px;
    break-inside: avoid;
    border: 1px solid #000;
  }

  button {
    width: 100%;
    display: block;
    font-size: 24px;
    line-height: 45px;
    padding: 0;
    cursor: pointer;
  }
}

.selectPage {
  display: flex;
  justify-content: center;
  span {
    color: $text_color;
    font-size: $content;
  }
}

//分頁按鈕
.page {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  list-style: none;
  .arrow {
    display: block;
    padding: 16px;
    border: 1px solid #eaf0ed;
  }
  .number {
    display: flex;
  }
  button {
    cursor: pointer;
    &:hover {
      border: 1px solid $secode_color;
      background-color: $secode_color;
    }
  }
  .pageNum {
    display: block;
    font-size: 20px;
    color: $main_color;
    text-align: center;
    border: 1px solid #eaf0ed;
    font-weight: 300;
    text-decoration: none;
    padding: 15px 23px;
  }
}

.cartContainer {
  max-width: 1200px;
  padding: 30px 30px 39px;
  margin: 0px auto;
  overflow: hidden;
  display: flex;

  /* 購物車區域 */
  article {
    width: 900px;
    margin-right: 20px;
    h2 {
      font-size: 28px;
      text-align: center;
      line-height: 65px;
      margin-bottom: 13px;
    }

    .cart-item {
      overflow: hidden;
      padding: 20px 0px;
      border-bottom: $yellow 1px solid;
      display: flex;
      img {
        width: 100px;
        height: 100px;
        margin: 15px;
        margin-right: 30px;
      }

      i {
        size: 7px;
      }

      :last-child {
        border-bottom: none;
      }

      p {
        font-size: 24px;
        width: 150px;
        background-size: cover;
        background-position: center center;
        margin-right: 39px;
      }

      > p {
        line-height: 110px;
        height: 110px;
      }

      > p,
      .description {
        float: left;
      }

      p:first-child {
        width: 110px;
        background-size: cover;
        background-position: center center;
        margin-right: 39px;
      }

      .description {
        height: 110px;
        width: 107px;
        margin-right: 39px;
        .content {
          display: flex;
          flex-direction: column;
          align-self: center;
          p:first-child {
            font-size: 24px;
            line-height: 28px;
          }
          h5 {
            display: block;
            line-height: 20px;
            margin-top: 20px;
          }
        }
      }

      > p:first-child {
        width: 110px;
        background-size: cover;
        background-position: center center;
        margin-right: 39px;
      }

      > p:nth-child(3) {
        margin-right: 38px;
      }
      > p:nth-child(3) span {
        width: 36px;
        height: 46px;
        line-height: 46px;
        cursor: pointer;
        display: inline-block;
        text-align: center;
        border: 1px solid $yellow;
      }
      > p:nth-child(3) span:nth-child(2) {
        border-left: none;
        border-right: none;
      }
      > p:nth-child(4) {
        width: 121px;
      }
      > p:last-child {
        cursor: pointer;
      }
    }
  }

  aside {
    width: 260px;
    padding: 0px 20px;
    h2 {
      line-height: 55px;
      text-align: center;
      border-bottom: 1px solid $yellow;
      margin-bottom: 16px;
      font-size: 28px;
    }
    p {
      overflow: hidden;
      margin-bottom: 16px;
      font-size: 20px;

      :nth-child(2) {
        margin-bottom: 8px;
      }
      > span {
        float: right;
      }
      &.total {
        font-weight: bold;
      }
      &.checkout {
        display: block;
        width: 150px;
        line-height: 65px;
        text-align: center;
        margin: 0px auto;
        font-size: 24px;
        font-weight: bold;
        background-color: $secode_color;
        display: block;
        cursor: pointer;
        &:hover {
          background-color: $main_color;
          color: $white;
          opacity: 0.6;
        }
      }
    }
  }
}

.checkoutAside {
  margin: 0 auto;
  width: 300px;
  display: flex;
  flex-direction: column;
  font-family: 微軟正黑體;
  color: #829886;
  margin-top: 20px;

  .title {
    // margin-top:10px;
    background-color: #e7eeea;
    font-size: 32px;
    // border: 1px solid #000;
    text-align: center;
    line-height: 72px;
    font-weight: 600;
  }
  h3 {
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;
  }

  .orderSummary {
    border: 1px solid #e7eeea;
    margin-bottom: 20px;
    .text {
      display: flex;
      justify-content: space-between;
      margin: 10px;
      p {
        line-height: 30px;
      }
      .left {
        text-align: left;
      }
      .right {
        text-align: right;
      }
    }
  }

  .shoppingList {
    border: 1px solid #e7eeea;
    .item {
      display: flex;
      margin: 15px 0;
      img {
        margin: 0 20px;
        width: 80px;
        height: 80px;
      }
      .text {
        margin: auto 0;
      }
    }
  }
}

.customerInfo {
  width: 600px;
  margin: 30px;
}

.checkoutPage {
  margin: 0 auto;
  width: 900px;
  display: flex;
  justify-content: center;
}
